* {
  margin: 0;
  padding: 0;
}

html {
  background: #000;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Arial";
  width: 100%;
  min-height: 100%;
  background: #fff;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

a:link {
  color: #000;
}

/* unvisited link */
a:visited {
  color: #000;
}

/* visited link */
a:hover {
  color: #000;
}

/* mouse over link */
a:active {
  color: #000;
}

/* selected link */
.topo {
  width: 100%;
  background: #fff;
}

.wrappercx {
  width: 10%;
  height: 90%;
  display: inline-block;
}

.cx {
  width: 100%;
  min-height: 25%;
  background: #fff;
}

.main {
  background: #fff;
  width: 80%;
  height: 90%;
  float: right;
}

.footer {
  background: #fff;
  bottom: 0;
  width: 100%;
  clear: both;
  text-align: center;
}
